*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    
    background-image: linear-gradient(to top, #005C53, #005C53);
    
}
h1{
    text-align: center;
    text-shadow: 1px 1px 2px #425017;
}
main{
    border-radius: 10px;
    color: white;
    background-color: #9FC131;
    box-shadow: 5px 5px 15px rgb(0, 44, 40);
    width: 600px;
    padding: 16px;
    margin: auto;
}
p{
    text-align: justify;
}

